In [1]:
# String Based Question :
# 1. Write a program to reverse a string.
# taking input from user
str = input("Enter a string:")

Enter a string: Hello

In [8]:
print(str[::-1])
# Printing reverse a string

olleH

In [11]:
# 2. Check if a string is a palindrome.
# taking input from user
str = input("Enter a string:")

Enter a string: hello

In [12]:
# Using If-else
if str == str[::-1]:
    print(str+" is a Palindrome")
else:
    print(str+" is not a palindrome")

hello is not a palindrome

In [9]:
# 3. Convert a string to uppercase.
# taking input from user
str = input("Enter a string:")

Enter a string: neelam

In [10]:
print(str.upper()) 
# converting a string to uppercase

NEELAM

In [12]:
# 4. Convert a string to lowercase.
# taking input from user
str = input("Enter a string:")

Enter a string: HELLO

In [13]:
print(str.lower())
# converting a string to lowercase

hello

In [2]:
# 5. Count the number of vowels in a string.
# taking input from user
str = input("Enter a string:") 
#convert string in to lowercase
sentence = str.lower()
count = 0
list = ['a','e','i','o','u','A','E','I','O','U']
# using for loop
for char in sentence:
    if char in list:
        count = count+1  
print("Number of vowels in a string:",count)

Enter a string: Hello Neelam

Number of vowels in a string: 5

In [3]:
# 6. Count the number of consonants in a string.
# taking input from user
str = input("Enter a string:") 
count = 0
# Define a set of consonant characters
consonant = "bcdfghjklmnpqrstvwxyzBCDFGHJKLMNPQRSTVWXYZ"
# convert string in case insensitive
sentence = str.lower()
# Using for loop
for char in sentence:
    if char  in consonant:    #Check if the character is in the set of consonants
        count += 1            #Increment the consonant count 
# printing the number of consonant
print("The number of consonant:",count)

Enter a string: Hello Neelam

The number of consonant: 6

In [4]:
# 7. Remove all whitespaces from a string.
# taking input from user
str = input("Enter a string:") 
# Function to remove whitespace
def remove(str):
    return str.replace(" ", "")
# print the result
print(remove(str))

Enter a string: Hello Neelam

HelloNeelam

In [5]:
# 8. Find the length of a string without using the `len()` function
# taking input from user
str = input("Enter a string:") 
count =0
# Using for loop
for i in str:
    count += 1
# print the result
print("The length of a string:",count)

Enter a string: Neelam Ghodake

The length of a string: 14

In [6]:
# 9.Check if a string contains a specific word.
# taking input from user
str = input("Enter a string: ")
specific_word = input("Enter the specific word: ")
# Using If-else
if specific_word in str: 
    print("The specific word present in string:")
else:
    print("The specific word not present in string")

Enter a string:  Hi Neelam
Enter the specific word:  Hi

The specific word present in string:

In [7]:
# 10. Replace a word in a string with another word.
# taking input from user
str = input("Enter a string: ")
# Replace all words of old with new
new_str = str.replace("e","i")
# printing new string
print(new_str)

Enter a string:  Neelam

Niilam

In [10]:
# 11. Count the occurrences of a word in a string.
# taking input from user
str = input("Enter a string: ") 
word = "neelam"
# splitting the string at space
words = str.split()
# initializing count variable to 0
count = 0
# iterating over the list using for loop
for i in words:
    # checking the match of the words
    if i == word :
    # increment count
      count += 1
# print the count
print(count)

Enter a string:  Hello neelam

1

In [12]:
# 12. Find the first occurrence of a word in a string. 
# taking input from user
str = input("Enter a string: ")
# Finding 1st word in a string
result = str.find('N')
# print the result
print(result)

Enter a string:  Hello Neelam

6

In [13]:
# 13.Find the last occurrence of a word in a string.
# taking input from user
str = input("Enter a string: ")
# Finding a word in a string
result = str.rfind('l')
# print the result
print(result)

Enter a string:  Neelam

3

In [14]:
# 14.Split a string into a list of words.
# taking input from user
str = input("Enter a string: ")
# printing a string using split()
print(str.split())

Enter a string:  Hello Neelam

['Hello', 'Neelam']

In [15]:
# 15' Join a list of words into a string
# taking input from user
str = input("Enter a string: ")
#  using join() method 
joined_string = ' '.join(str)
# print the string
print(joined_string)

Enter a string:  Hello Neelam

H e l l o   N e e l a m

In [16]:
# 16.Convert a string where words are separated by spaces to one where words are separated by underscores
# taking input from user
str = input("Enter a string: ")
# using replace() function
underscore_separated = str.replace("","_")
# printing a string
print(underscore_separated)

Enter a string:  Hello Neelam

_H_e_l_l_o_ _N_e_e_l_a_m_

In [19]:
# 17.Check if a string starts with a specific word or phrase.
# taking input from user
str = input("Enter a string: ")
# taking input from user
str1 = input("Enter a specific word: ")
# using starswith function
is_start = str.startswith(str1)
# print the string
print(is_start)

Enter a string:  hi neelam
Enter a specific word:  h

True

In [20]:
# 18.Check if a string ends with a specific word or phrase.
# taking input from user
str = input("Enter a string: ")
# taking input from user
str1 = input("Enter a specific word: ")
# using endswith function
is_ends = str.endswith(str1)
# printing a string
print(is_ends)

Enter a string:  Hello Neelam
Enter a specific word:  m

True

In [21]:
# 19.Convert a string to title case (e.g., "hello world" to "Hello World").
# taking input from user
str = input("Enter a string: ")
# printing a string using title function
print(str.title())

Enter a string:  hi neelam

Hi Neelam

In [22]:
# 20.Find the longest word in a string.
# taking input from user
str = input("Enter a string: ")
# split the string to a list of words
words = str.split()
# find the longets word
longest_word = max(words,key = len)
# print longest word
print(longest_word)

Enter a string:  hi neelam

neelam

In [23]:
# 21.Find the shortest word in a string.
# taking input from user
str = input("Enter a string: ")
# split the string to a list of words
words = str.split()
# find the shortest word
shortest_word = min(words,key = len)
# print shortest word
print(shortest_word)

Enter a string:  hi neelam

hi

In [24]:
# 22.Reverse the order of words in a string.
# taking input from user
str = input("Enter a string: ")
# spliting words in the given string
# using slicing reverse the words
string = str.split()[::-1]
# joining the reversed string and
# printing the output
print(" ".join(string))

Enter a string:  my name is neelam

neelam is name my

In [25]:
# 23.Check if a string is alphanumeric.
# taking input from user
str = input("Enter a string: ")
# using alphanumeric function
print(str.isalnum())

Enter a string:  abc123

True

In [26]:
# 24.Extract all digits from a string.
# taking input from user
str = input("Enter a string: ")
# Initialize the empty string
numbers = []
# using for loop to extract all digits
for char in str:
    if char.isdigit():
        numbers.append(int(char))
# print the output
print("The numbers is:",numbers)

Enter a string:  I have 1 book and 2 pens

The numbers is: [1, 2]

In [27]:
# 25.Extract all alphabets from a string.
# taking input from user
str = input("Enter a string: ")
# initilizing a new string to append only alphabates
only_alpha = ""
# Using for loop to find out alphabates
for char in str:
    # ord(char) returns the ascii value
    # CHECKING FOR UPPER CASE
    if ord(char) >=65 and ord(char) <=90:
        only_alpha += char
   # checking for lower case
    elif ord(char) >=97 and ord(char) <=122:
        only_alpha += char
# printing the string which contains only alphabates
print(only_alpha)

Enter a string:  I have 3 Apples and 2 Banana

IhaveApplesandBanana

In [28]:
# 26. Count the number of uppercase letters in a string.
# getting the input from the user
str = input("Enter a string: ")
count = 0
# using for loop to find out uppercase letter
for i in str:
    if i.isupper():
        count = count+1
# printing count of letters
print("The number of capital letters found in string is:",count)

Enter a string:  HeLLo NeeLam

The number of capital letters found in string is: 5

In [29]:
# 27.Count the number of lowercase letters in a string.
# getting the input from the user
str = input("Enter a string: ")
count = 0
# Using for loop to find out lowercase letter
for i in str:
    if i.islower():
        count = count+1
# printing count of letters
print("The number of capital letters found in string is:",count)

Enter a string:  Hello Neelam

The number of capital letters found in string is: 9

In [30]:
# 28.Swap the case of each character in a string.
# getting the input from the user
str = input("Enter a string: ")
# printing string to use the swapcase function 
print(str.swapcase())

Enter a string:  Hey Nilu

hEY nILU

In [31]:
# 29.Remove a specific word from a string.
# getting the input from the user
str = input("Enter a string: ")
# Using replace function to remove specific word
string = str.replace("is","")
# print the result
print(string)

Enter a string:  My name is Neelam

My name  Neelam

In [32]:
# 30.Check if a string is a valid email address
def validate_email(email):
    import re
    patt = r'[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}'
    # Using Regular expression for an email
    pattern = re.compile(patt)
    # check if the pattern matches the email address
    return re.match(pattern,email)is not None
# checking a valid email address
print(validate_email('neelamghodake4@gmail.com'))

True

In [7]:
# 31.Extract the username from an email address string.
# getting the input from the user
email = input("Enter your email: ")
# using split() to get username
username,mail = email.split('@')
print(username)

Enter your email:  neelam@gmail.com

neelam

In [33]:
# 32.Extract the domain name from an email address string.
# getting the input from the user
email = input("Enter your email: ")
# using split() to get domain name
domain_name = email.split('@')[1]
print(domain_name)

Enter your email:  neelamghodake3@gmail.com

gmail.com

In [34]:
# 33.Replace multiple spaces in a string with a single space.
# getting the input from the user
str = input('Enter a string:')
# Using split to replace multiple spaces with a single space
string = " ".join(str.split())
# Print the replace string
print(string)

Enter a string: neelam                  ghodake

neelam ghodake

In [35]:
# 34.Check if a string is a valid URL.
# We can use the 'urllib parse'module in python to check if a string is a valid URL
from urllib.parse import urlparse
def is_valid_url(url):
    try:
        result = urlparse(url)
        return all([result.scheme, result.netloc])
    except ValueError:
        return False
# Example usage:
url = input("Enter a URL:")
if is_valid_url(url):
    print("The URL is valid")
else:
    print("The URL is not valid.")

Enter a URL: https://auth.geeksforgeeks.org/user/Chinmoy%20Lenka/articles

The URL is valid

In [36]:
# 35.Extract the protocol (http or https) from a URL string.
# We can use the 'urllib parse'module in python to extract the protocol from url URL
from urllib.parse import urlparse
url = "https://auth.geeksforgeeks.org/user/Chinmoy%20Lenka/articles"
parsed_url = urlparse(url)
protocol = parsed_url.scheme
print(protocol)

https

In [37]:
# 36.Find the frequency of each character in a string.
# getting the input from the user
test_str = input("Enter a string: ")
# using naive method to get count of each element in string
all_freq = {}
for i in test_str:
    if i in all_freq:
        all_freq[i] += 1
    else:
        all_freq[i] = 1
# print the result
print("count of all characters in is:", all_freq)

Enter a string:  my name is Neelam

count of all characters in is: {'m': 3, 'y': 1, ' ': 3, 'n': 1, 'a': 2, 'e': 3, 'i': 1, 's': 1, 'N': 1, 'l': 1}

In [38]:
# 37.Remove all punctuation from a string.
import string
def remove_punctuation(input_string):
# Make a translator object to replace punctuation with none   
 translator = str.maketrans('', '', string.punctuation)
# Use the translator   
 return input_string.translate(translator)
# getting the input from the user
test_string = input('Enter a string:')
print(remove_punctuation(test_string))

Enter a string: Wow......!!! Neelam

Wow Neelam

In [10]:
# 38.Check if a string contains only digits.
# getting the input from the user
test_string = input('Enter a string:')

Enter a string: 422584nssd

In [5]:
# using isdigit() method to check a string contains only digit
if test_string.isdigit():
    print("The string contains only digit:")
else:
    print("The string does not contains digit:")

The string does not contains digit:

In [3]:
# 39.Check if a string contains only alphabets.
# getting the input from the user
test_string = input('Enter a string:')

Enter a string: asdgtrrfg

In [6]:
# Using isalpha() method to check a string contains only alphabates
if test_string.isalpha():
    print("The string contains only alphabates:")
else:
    print("The string does not contains alphabates:")

The string contains only alphabates:

In [15]:
# 40.Convert a string to a list of characters.
# getting the input from the user
string = input("Enter a string:")

Enter a string: Hello neelam

In [23]:
# using unpack method to convert string to a list
print([*string])

['H', 'e', 'l', 'l', 'o', ' ', 'n', 'e', 'e', 'l', 'a', 'm']

In [39]:
# 41.Check if two strings are anagrams.
# function to check if two strings are anagram or not
def check(str1, str2):
    return sorted(str1) == sorted(str2)
string1 = 'earth'
string2 = 'heart'
# The sorted strings are checked 
if check(string1, string2):
    print("The strings are anagrams.")
else:
    print("The strings are not anagrams.")

The strings are anagrams.

In [44]:
# 42.Encode a string using a Caesar cipher.
def encrypt(plainText, shift):
    result = ""
    
    # traverse text
    for i in range(len(plainText)):
        char = plainText[i]
    
         # Encrypt uppercase characters
        if (char.isupper()):
            result += chr((ord(char) + shift-65) % 26 + 65)
         # Encrypt lowercase characters
        else:
            result += chr((ord(char) + shift-97) % 26 + 97)
        
    return result     
# check the above function
plainText = "Hello"
shift = 3
print("Text :", plainText)
print("shift:", shift)
print("cipher:", encrypt(plainText, shift))

Text : Hello
shift: 3
cipher: Khoor

In [45]:
 # 43.Decode a Caesar cipher encoded string.
def decrypt(plainText, shift):
    result = ""
    
    # traverse text
    for i in range(len(plainText)):
        char = plainText[i]
        
        # decrypt uppercase charcters
        if (char.isupper()):
            result += chr((ord(char) - shift-65) % 26 +65)
        # decrypt lowercase characters
        else:
            result += chr((ord(char) - shift-97) % 26 +97)
            
    return result

In [47]:
# check the above function
plainText = "Neelam"
shift = 2
print("Text :", plainText)
print("shift:", shift)
print("cipher:", decrypt(plainText, shift))

Text : Neelam
shift: 2
cipher: Lccjyk

In [48]:
# 44.Find the most frequent word in a string.
# getting the input from the user
test_string = input('Enter a string:')
from collections import Counter
def most_frequent_word(test_string):
   # split the string into words 
    words = test_string.split()
   # count the occurrence of each word 
    word_counts = Counter(words)
   # Find the most common word and its count
    most_common_word, _ = word_counts.most_common(1)[0]
    
    return most_common_word
result = most_frequent_word(test_string)
# printing the frequent result
print("Most frequent word:", result)

Enter a string: Hi hi hi hello

Most frequent word: hi

In [11]:
# 45.Find all unique words in a string.
def printWords(string):
     
    # for loop for iterating
    for i in string:
        print(i)
        
# getting the input from the user
test_string = input('Enter a string:')
 
# storing string in the form of list of words
s = set(test_string.split(" "))
 
# passing list to print words function
printWords(s)

Enter a string: python in python

in
python

In [19]:
# 46.Count the number of syllables in a string.
# getting the input from the user
word = input('Enter the word:')
# count of syllables 
syllable_count = 0
vowels = "aeiou"
# using loop method
for char in word.lower():
    if char in vowels:
        syllable_count = syllable_count + 1
# printing the number of syllables
print("The number of syllables in the word is: ")
print(syllable_count)

Enter the word: Hi Neelam

The number of syllables in the word is:
4

In [29]:
# 47.Check if a string contains any special characters.
# import required package
import re

def check_string(test_str):
    for char in test_str:
        # check string contains special characters or not
        if ord(char) < 48 or (57 < ord(char) < 65) or (90 < ord(char) < 97) or ord(char) > 122:
            return "String is not accepted."
    return "String is accepted."

# printing a string 
test_str = "Hi...@!#"
print(check_string(test_str))

String is not accepted.

In [1]:
# 48.Remove the nth word from a string. 
def remove_nth_word(test_str, n):
   # split the test string in to a list of words
    words = test_str.split()
    # check if the specified index is within the range of words 
    if 1 <= n <= len(words):
        # Remove the nth word
        del words[n - 1]
        result_str = ' '.join(words)
        return result_str
    else:
        return "Invalid value for n"

In [2]:
# printing a string
old_str = "This is Python code."
new_str = remove_nth_word(old_str, 3)
print(new_str)

This is code.

In [49]:
# 49.Insert a word at the nth position in a string.
def insert_word(original_str, word, n):
    # insert the word at specified position
    return original_str[:n] + word + original_str[n:]
# Example usage
original_str = "This is a sample string"
word = " new"
position_to_insert = 9
# printing result
result_str = insert_word(original_str, word, position_to_insert)
print(result_str)

This is a new sample string

In [3]:
# 50.Convert a CSV string to a list of lists.
import csv
from io import StringIO
# sample csv string
csv_str = """Name,Age,location
Meera,23,Pune 
near Baner,
Susgaon,21
"""
# using StringIO to simulate a file object
csv_file = StringIO(csv_str)
# using the csv.reader to parse the csv string
csv_reader =  csv.reader(csv_file)
# converting the csv data to a list of lists
csv_list = [row for row in csv_reader]
# displaying the r
print(csv_list)

[['Name', 'Age', 'location'], ['Meera', '23', 'Pune '], ['near Baner', ''], ['Susgaon', '21']]

In [1]:
# List Based Practice Problem :

# 1.Create a list with integers from 1 to 10.
integer_list = range(1, 11)
# Print the list
print(list(integer_list))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [8]:
# 2.Find the length of a list without using the `len()` function.
string = "Neelam"
count = 0
# using for loop by iterating every element of a string.
for i in string:
    # Increment count variable by 1.
    count += 1
print(count)

6

In [11]:
# 3.Append an element to the end of a list.
# element to append
list = [2,4,6,8]
list.append(10)
# printing updated list
print(list)

[2, 4, 6, 8, 10]

In [16]:
# 4.Insert an element at a specific index in a list.
# creating a list
list = [1,2,3,5]
list.insert(3, 4)
print(list)

[1, 2, 3, 4, 5]

In [17]:
# 5.Remove an element from a list by its value.
# creating a list
list = [1,2,3,4,4,5]
list.remove(4)
print(list)

[1, 2, 3, 4, 5]

In [19]:
# 6.Remove an element from a list by its index.
# creating a list
list = [1,1,2,3,4,5]
given_index = 1
# using pop function to remove that element of the list at that index
list.pop(given_index)
print(list)

[1, 2, 3, 4, 5]

In [3]:
# 7.Check if an element exists in a list.
list = [1,2,3,4,5]
# checking element is present in the given list or not
i = 7
#if element present then return exist otherwise not exist
if i in list:
    print("exist")
else:
    print("not exist")

not exist

In [8]:
# 8.Find the index of the first occurrence of an element in a list.
list = [1,2,3,4,5]
# Element to find the index
element_to_find = 2
# Find the index of the first occurrence of the element
print(list.index(element_to_find))

1

In [4]:
# 9.Count the occurrences of an element in a list.
list = [1,2,3,4,2,2,5]
# count occurrence of the element
count = list.count(2)
print(f"The element 2 occurs {count} times in the list")

The element 2 occurs 3 times in the list

In [5]:
# 10.Reverse the order of elements in a list.
list = [1,2,3,4,5,6,7,8]
list.reverse()
print(list)

[8, 7, 6, 5, 4, 3, 2, 1]

In [7]:
# 11.Sort a list in ascending order.
list = [3,2,4,1,6,9,8]
# sorting the list in ascending order
sorted_list = sorted(list)
# printing sorted list
print("Sorted list in ascending order:",sorted_list)

Sorted list in ascending order: [1, 2, 3, 4, 6, 8, 9]

In [9]:
# 12.Sort a list in descending order.
list = [3,2,4,1,6,9,8]
# sorting the list in descending order
list.sort(reverse=True)
print(list)

[9, 8, 6, 4, 3, 2, 1]

In [10]:
# 13.Create a list of even numbers from 1 to 20.
# Initialize an empty list
even_numbers = []
# Iterate through numbers from 1 to 20
for num in range(2, 21, 2):
        # Append each even number to the list
        even_numbers.append(num)
# print even numbers
print(even_numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [13]:
# 14.Create a list of odd numbers from 1 to 20. 
# Initialize an empty list
odd_numbers = []
# Iterate through numbers from 1 to 20
for num in range(1, 21,):
    # check if the number is odd(not divisible by 2)
    if num % 2 != 0:
        # Append each odd number to the list
          odd_numbers.append(num)
# print odd numbers
print(odd_numbers)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [14]:
# 15.Find the sum of all elements in a list. 
# Initialize a list
my_list = [1,2,3,4,5]
# Using sum function 
sum_of_element = sum(my_list)
# print the result
print(sum_of_element)

15

In [16]:
# 16.Find the maximum value in a list.
# Initialize a list
my_list = [1,2,3,4,5]
# Using max function 
max_element = max(my_list)
# print the result
print(max_element)

5

In [17]:
# 17.Find the minimum value in a list.
# Initialize a list
my_list = [1,2,3,4,5]
# Using max function 
min_element = min(my_list)
# print the result
print(min_element)

1

In [2]:
# 18.Create a list of squares of numbers from 1 to 10.
# Initialize an empty list
squares = []
# Iterate through numbers from 1 to 10
for i in range(1, 11):
     # Append each number to the list
    squares.append(i**2)
# print the result
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [8]:
# 19.Create a list of random numbers. 
import random
# Initialize an empty list 
random_list=[]
num=10
# Iterate through numbers from random
for i in range(num):
    # Append each number to the list
    random_list.append(random.randint(1,100))
# print the result
print(random_list)

[3, 30, 4, 96, 64, 85, 2, 32, 58, 79]

In [9]:
# 20.Remove duplicates from a list.
original_list = [1,1,2,3,4,4,5]
# convet the list to a set to automatically remove duplicates
unique_set = set(original_list)
# convert the set back to a list to maintain the original
unique_list = list(unique_set)
print(unique_list)

[1, 2, 3, 4, 5]

In [5]:
# 21. Find the common elements between two lists.
# define two lists
list1 = [4,7,5,8,2]
list2 = [9,1,4,2,3]
# find common elements using the intersection method or '&' operator
common_elements = list(set(list1) & set(list2))
print(common_elements)

[2, 4]

In [7]:
# 22.Find the difference between two lists.
# define two lists
list1 = [4,7,5,8,2]
list2 = [9,1,4,2,3]
# use sets to find the difference between two lists.
difference = list(set(list1) - set(list2))
print(difference)

[8, 5, 7]

In [9]:
# 23.Merge two lists. 
# define two lists
list1 = [4,7,5,8,2]
list2 = [9,1,4,2,3]
# using the extend() method to merge lists
list1.extend(list2)
print(list1)

[4, 7, 5, 8, 2, 9, 1, 4, 2, 3]

In [15]:
# 24.Multiply all elements in a list by 2.
# define list
list1 = [4,7,5,8,2]
# using a list comprehension to multiply each element by 2
doubled_list = [x*2 for x in list1]
print(doubled_list)

[8, 14, 10, 16, 4]

In [14]:
# 25.Filter out all even numbers from a list.
# define list
list1 = [1,2,3,4,5,6,7,8,9]
#list comprehension to filter out even numbers
filtered_list = [num for num in list1 if num % 2 != 0]
print(filtered_list)

[1, 3, 5, 7, 9]

In [19]:
# 26.Convert a list of strings to a list of integers.
# define string list
string_list = ['1', '2', '3', '4']
# using a list comprehension to convert each string element to an integer
int_list = [int(num) for num in string_list]
print(int_list)

[1, 2, 3, 4]

In [21]:
# 27.Convert a list of integers to a list of strings.
# define list
list1 = [1,2,3,4,5]
# using a list comprehension to convert each integer to an string element
str_list = [str(num) for num in list1]
print(str_list)

['1', '2', '3', '4', '5']

In [24]:
# 28.Flatten a nested list. 
# Original list
lis = [[11, 22, 33, 44], [55, 66, 77], [88, 99, 100]]
 
# iterate through the sublist using List comprehension
flatList = [element for innerList in lis for element in innerList]
 
# printing flat list
print('Flat List', flatList)

Flat List [11, 22, 33, 44, 55, 66, 77, 88, 99, 100]

In [2]:
# 29.Create a list of the first 10 Fibonacci numbers.
fibonacci_num = [0, 1]
# Iterate to calculate the next 8 fibonacci numbers
for _ in range(8):
    # calculate the next fibonacci number by summing the last two numbers
    next_num = fibonacci_num[-1] + fibonacci_num[-2]
    # append the calculated fibonacci number to the list
    fibonacci_num.append(next_num)
print(fibonacci_num)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [5]:
# 30.Check if a list is sorted.
# define list
list1 = [1,5,3,4,5]
# using if-else To check a list is sorted or not 
if list1 == sorted(list1):
    print("The list is sorted.")
else:
    print("The list is not sorted.")

The list is not sorted.

In [9]:
# 31.Rotate a list to the left by `n` positions.
def rotate_left(lst, n):
    # using slicing to get elements from index 'n' to the end and concatenate with elements from the start to index 'n'
    return lst[n:] + lst[:n]
my_list =[1,2,3,4,5]
# Rotate the list to the left by 'rotation_count' positions
rotated_list = rotate_left(my_list, 2)
print(rotated_list)

[3, 4, 5, 1, 2]

In [11]:
# 32.Rotate a list to the right by `n` positions.
def rotate_right(lst, n):
    # ensure n is within the list lenght
    n = n % len(lst)
    # using slicing to get elements from index 'n' to the end and concatenate with elements from the start to index 'n'
    return lst[-n:] + lst[:-n]
my_list =[1,2,3,4,5]
# Rotate the list to the rightt by 'rotation_count' positions
rotated_list = rotate_right(my_list, 2)
print(rotated_list)

[4, 5, 1, 2, 3]

In [3]:
# 33.Create a list of prime numbers up to 50.
def is_prime(num):
    # function to check if a number is prime
    if num < 2:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True
# List comprehension to generate a list of prime numbers up to 50
prime_num = [num for num in range(2, 51) if is_prime(num)]
# print the list of prime numbers
print(prime_num)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [5]:
# 34.Split a list into chunks of size `n`.
def chunk_list(lst, n):
    #Using list comprehension to create chunks of size 'n'
    # the range function generates starting indices for each chunk
    return [lst[i:i + n] for i in range(0, len(lst), n)]
my_list = [1,2,3,4,5,6,7,8,9]
chunked_list = chunk_list(my_list, 2 )
print(chunked_list)

[[1, 2], [3, 4], [5, 6], [7, 8], [9]]

In [4]:
# 35.Find the second largest number in a list.
def sec_largest(num):
    # remove duplicates using set and sort the list in descending order
    sorted_num = sorted(set(num), reverse=True)
    # check if there is a second largest number
    if len(sorted_num) > 1:
        return sorted_num[1]
    else:
        return "List does not have a second largest number."
    
my_list = [4,5,7,6]
result = sec_largest(my_list)
# Display the result
print("Second largest number is:", result)

Second largest number is: 6

In [5]:
# 36.Replace every element in a list with its square.
list1 = [1,2,3,4,5,6]
# list comprehension to square each element
squared_list = [x**2 for x in list1]
# print the squared list
print(squared_list)

[1, 4, 9, 16, 25, 36]

In [6]:
# 37.Convert a list to a dictionary where list elements become keys and their indices become values.
my_list = ['appel', 'banana', 'orange']
# using dictionary comprehension to create a dictionary
my_dict = {element: index for index, element in enumerate(my_list)}
# display the result
print(my_dict)

{'appel': 0, 'banana': 1, 'orange': 2}

In [9]:
# 38.Shuffle the elements of a list randomly.
import random
my_list = [1,2,3,4,5]
# using the random.shuffle function to shuffle the elements of the list
random.shuffle(my_list)
print(my_list)

[5, 1, 2, 4, 3]

In [11]:
# 39.Create a list of the first 10 factorial numbers.
fibonacci_num = [0, 1]
# Iterate to calculate the next 8 fibonacci numbers
for _ in range(10):
    # calculate the next fibonacci number by summing the last two numbers
    next_num = fibonacci_num[-1] + fibonacci_num[-2]
    # append the calculated fibonacci number to the list
    fibonacci_num.append(next_num)
print(fibonacci_num)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

In [7]:
# 40.Check if two lists have at least one element in common.
list1 = [1,2,3,4,5]
list2 = [5,6,7,8,9,]
# use the any function with a list comprehension to check for common elements
common_elements = any(element in list1 for element in list2)
if common_elements:
    print("There is at least one common element.")
else:
    print("No common element found")

There is at least one common element.

In [11]:
# 41.Remove all elements from a list.
my_list = [1,2,3,4,5,6]
# use the clear() method to remove all elements from the list
empty_list = my_list.clear()
print(empty_list)

None

In [14]:
# 42.Replace negative numbers in a list with 0.
my_list = [1,-20,10,-8,-65]
# Iterate through the list and replace negative numbers with 0
for i in range(len(my_list)):
    if my_list[i] < 0:
        my_list[i] = 0
print("List after replacing negative numbers with 0:", my_list)

List after replacing negative numbers with 0: [1, 0, 10, 0, 0]

In [16]:
# 43.Convert a string into a list of words.
my_string = "Hello, how are you"
# Convert the string into a list of words
word_list = my_string.split()
print(word_list)

['Hello,', 'how', 'are', 'you']

In [21]:
# 44.Convert a list of words into a string.
word_list = ['Hello', 'how', 'are', 'you']
# Convert the list of words into a string
my_string = ' '.join(word_list)
print(my_string)

Hello how are you

In [29]:
# 45.Create a list of the first `n` powers of 2.
# Specify the value of n
n=5
# Create a list of the first n powers of 2 using a loop
power_list = [2 ** i for i in range(n)]
print("List of the first power of two:", power_list)

List of the first power of two: [1, 2, 4, 8, 16]

In [33]:
# 46.Find the longest string in a list of strings.
string_list = ['appel', 'banana', 'strawberry', 'grapes']
# using the max function with key=len to find the longest string
longest_string = max(string_list, key=len)
print(longest_string)

strawberry

In [34]:
# 47.Find the shortest string in a list of strings.
string_list = ['appel', 'banana', 'strawberry', 'grapes']
# using the min function with key=len to find the longest string
shortest_string = min(string_list, key=len)
print(shortest_string)

appel

In [36]:
# 48.Create a list of the first `n` triangular numbers.
# Specify the value of n
n = 5
# create a list of the first 'n' triangular numbers using list comprehension
triangular_num = [i * (i + 1) // 2 for i in range(1, n + 1)]
print(triangular_num)

[1, 3, 6, 10, 15]

In [42]:
# 49.Check if a list contains another list as a subsequence.
def is_subsequence(sub, lst):
    sub_len, lst_len = len(sub), len(lst)
    # Index for the subsequence elements
    i = j = 0
    # Iterate through the lst
    while i < sub_len and j < lst_len:
        #check if the current elements match
        if sub[i] == lst[j]:
            # move the subsequence to the forword
            i += 1
            # move the main_list to the forword
        j += 1
        # if all elements of the subsequence are found
    return i == sub_len
main_list = [1, 2, 3, 4, 5]
sub_list = [6, 2, 3, 4, 5]

result = is_subsequence(sub_list, main_list)
print(result)

False

In [44]:
# 50.Swap two elements in a list by their indices.
my_list = [1, 2, 3, 4, 5]
# swap elements at index 1 and 3 using temporary variable
temp = my_list[1]
my_list[1] = my_list[3]
my_list[3] = temp
# print the list after swapping 
print(my_list)

[1, 4, 3, 2, 5]

In [2]:
#1.Create a tuple with integers from 1 to 5.
# creating a tuple with integers from 1 to 5
my_tuple = (1, 2, 3, 4, 5)

In [5]:
# 2.Access the third element of a tuple.
# define a tuple
my_tuple = (1, 2, 3, 4, 5)
my_tuple[2]

3

In [6]:
# 3.Find the length of a tuple without using the `len()` function.
# define a tuple
my_tuple = (1, 2, 3, 4, 5)
# Initialize a variable to store the length
tuple_length = 0
# Iterate through each element in the tuple
for i in my_tuple:
#Increment the length for each element
    tuple_length += 1
# printing the calculated length
print(tuple_length)

5

In [9]:
# 4.Count the occurrences of an element in a tuple.
# define a tuple
my_tuple = (1, 2, 3, 4, 5, 2)
# specify the element you want to count
count = 2
# use the count() method to count occurrences of the specified element
occurrences = my_tuple.count(count)
# print the result
print(f"The element {count} appears {occurrences} time in the tuple" )

The element 2 appears 2 time in the tuple

In [10]:
# 5.Find the index of the first occurrence of an element in a tuple.
# define a tuple
my_tuple = (1, 2, 3, 4, 5)
# Element to find in the tuple
element = 2
# use the index() method to find the index of the first occurrence
index = my_tuple.index(element)
# print the result
print("Index of", element, ":", index)

Index of 2 : 1

In [12]:
# 6.Check if an element exists in a tuple.
# define a tuple
my_tuple = (1, 2, 3, 4, 5)
# check if an element in the tuple
if 6 in my_tuple:
    print("Element 6 exists in the tuple.")
else:
    print("Element 6 does not exists in the tuple.")

Element 6 does not exists in the tuple.

In [15]:
# 7.Convert a tuple to a list.
# define a tuple
my_tuple = (1, 2, 3, 4, 5)
# converting a tuple in to list
my_list = list(my_tuple)
print(my_list)

[1, 2, 3, 4, 5]

In [18]:
# 8.Convert a list to a tuple.
# define a list
my_list = [1, 2, 3, 4, 5]
# converting a list in to tuple
my_tuple = tuple(my_list)
print(my_tuple)

(1, 2, 3, 4, 5)

In [8]:
# 9.Unpack the elements of a tuple into variables.
tuple_element = (1, 5, 3)
# Unpack the elements of a tuple into variables
var1, var2, var3 = tuple_element
#Print the variables
print(var1)
print(var2)
print(var3)

1
5
3

In [3]:
# 10.Create a tuple of even numbers from 1 to 10.
# This line of code initializes a variable named evens and assigns it a tuple created using a generator expression
evens = tuple(x for x in range(1, 11) if x % 2 == 0)
print(evens)

(2, 4, 6, 8, 10)

In [6]:
# 11.Create a tuple of odd numbers from 1 to 10.
#This line of code initializes a variable named odds and assigns it a tuple created using a generator expression
odds = tuple(x for x in range(1, 11) if x % 2 == 1)
print(odds)

(1, 3, 5, 7, 9)

In [9]:
# 12.Concatenate two tuples.
# define two tuples
tuple1 = (1, 2, 3, 4)
tuple2 = (5, 6, 7, 8)
# using + operator
result = tuple1 + tuple2
# printing result
print(result)

(1, 2, 3, 4, 5, 6, 7, 8)

In [13]:
# 13.Repeat a tuple three times.
my_tuple = (5, 1, 4, 2, 3)
# using * operator
result = my_tuple * 3
# printing result
print(result)

(5, 1, 4, 2, 3, 5, 1, 4, 2, 3, 5, 1, 4, 2, 3)

In [17]:
# 14.Check if a tuple is empty.
my_tuple = ()
# Check if a tuple is empty.
if not my_tuple:
    print("tuple is empty")
else:
    print("tuple is not empty")

tuple is empty

In [21]:
# 15.Create a nested tuple.
# Creating a nested tuple.
nested_tuple = ((1, 2), ('a', 'b'), (3, 4))
print(nested_tuple)

((1, 2), ('a', 'b'), (3, 4))

In [5]:
# 16.Access the first element of a nested tuple.
# Creating a nested tuple.
nested_tuple = ((1, 2), ('a', 'b'), (3, 4))
# Accessing the first element of a nested tuple.
first_element = nested_tuple[0][0]
print(first_element)

1

In [8]:
# 17.Create a tuple with a single element.
# creating a tuple
my_tuple = (21,)
print(my_tuple)

(21,)

In [10]:
# 18.Compare two tuples.
# define two tuples
tuple1 = (1, 2, 3, 4)
tuple2 = (5, 6, 7, 8)
#comparing two tuples
if tuple1 == tuple2:
    print("elements are equal")
else:
    print("Elements are not equal")

Elements are not equal

In [13]:
# 19.Delete a tuple.
# define a tuple
my_tuple = (1, 2, 3)
# delete the entire tuple
del my_tuple
print(my_tuple)

NameError: name 'my_tuple' is not defined

In [18]:
# 20.slice a tuple.
# define a tuple
my_tuple = (1, 2, 3, 4)
sliced_tuple = my_tuple[2:4]
print(sliced_tuple)

(3, 4)

In [1]:
# 21.Find the maximum value in a tuple.
# define a tuple
my_tuple = (5, 4, 8, 1, 2)
# finding the maximum value by using max function
max_val = max(my_tuple)
print(max_val)

8

In [2]:
# 22.Find the minimum value in a tuple.
# define a tuple
my_tuple = (5, 4, 8, 1, 2)
# finding the minimum value by using max function
min_val = min(my_tuple)
print(min_val)

1

In [4]:
# 23.Convert a string to a tuple of characters.
my_string = "Hello"
# using the tuple() constructor to convert the string to a tuple of characters
tuple_of_char = tuple(my_string)
print(tuple_of_char)

('H', 'e', 'l', 'l', 'o')

In [7]:
# 24.Convert a tuple of characters to a string.
my_tuple = ('H', 'e', 'l', 'l', 'o')
# using the join() method to concatenate the characters in to string
my_string = ''.join(my_tuple)
print(my_string)

Hello

In [8]:
# 25.Create a tuple from multiple data types.
# creating a tuple with multiple data types
my_tuple = (5, "Neelam", 3.14, True)
# Displaying result
print(my_tuple)

(5, 'Neelam', 3.14, True)

In [12]:
# 26.Check if two tuples are identical.
tuple1 = (1, 2, 3, 4)
tuple2 = (1, 2, 5, 4)

if tuple1 == tuple2:
    print("Tuples are identical")
else:
    print("Tuples are not identical")

Tuples are not identical

In [14]:
# 27.Sort the elements of a tuple.
my_tuple = (1, 2, 5, 6, 4)
# Use the sorted() function to sort the elements of the tuple
sorted_tuple = tuple(sorted(my_tuple))
print(sorted_tuple)

(1, 2, 4, 5, 6)

In [15]:
# 28.Convert a tuple of integers to a tuple of strings.
my_tuple = (1, 5, 4, 2, 3)
string_tuple = tuple(map(str, my_tuple))
print(string_tuple)

('1', '5', '4', '2', '3')

In [17]:
# 29.Convert a tuple of strings to a tuple of integers.
string_tuple = ('1', '5', '4', '2', '3')
# Convert a tuple of strings to a tuple of integers by using comprehension
my_tuple = tuple(map(int, string_tuple))
print(my_tuple)

(1, 5, 4, 2, 3)

In [1]:
# 30.Merge two tuples.
tuple1 = (1, 2, 3, 4)
tuple2 = ('a','b','c')
# Merging the tuples using the operator
merged_tuple = tuple1 + tuple2
# printing result
print(merged_tuple)

(1, 2, 3, 4, 'a', 'b', 'c')

In [2]:
# 31.Flatten a nested tuple.
# recursive function to flatten a nested tuple
def flatten_tuple(nested_tuple):
    flattened = []
    for item in nested_tuple:
        if isinstance(item, tuple):
            flattened.extend(flatten_tuple(item))
        else:
            flattened.append(item)
    return tuple(flattened)
# Create a nested tuple
nested_tuple = ((1, 2), (3, (4, 5)), 6)
# Flatten the nested tuple
flattened_tuple = flatten_tuple(nested_tuple)
print(flattened_tuple)

(1, 2, 3, 4, 5, 6)

In [1]:
# 32.Create a tuple of the first 5 prime numbers.
# Function to check if a number is prime
def is_prime(n):
    if n <= 1:
        return False
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            return False
    return True
# Generate the first 5 prime numbers
prime_numbers = [x for x in range(2, 100) if is_prime(x)] [:5]
print(prime_numbers)

[2, 3, 5, 7, 11]

In [6]:
# 33.Check if a tuple is a palindrome.
# Function to check if a tuple is a palindrome
def is_palindrome(tup):
    return tup == tup[::-1]
# Create tuples for testing
my_tuple = (1, 2, 3, 4, 3, 2, 1)
result = is_palindrome(my_tuple)
print(result)

True

In [8]:
# 34.Create a tuple of squares of numbers from 1 to 5.
# Create a tuple of squares using a list comprehension
squares_tuple = tuple(x ** 2 for x in range(1, 6))
# Print the tuple of squares
print("Tuple of squares:", squares_tuple)

Tuple of squares: (1, 4, 9, 16, 25)

In [10]:
# 35.Filter out all even numbers from a tuple.
# create a tuple
my_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9)
# Filter out even numbers using a list comprehension
filtered_tuple = tuple(x for x in my_tuple if x % 2 != 0)
# Print the filtered tuple
print(filtered_tuple)

(1, 3, 5, 7, 9)

In [14]:
# 36.Multiply all elements in a tuple by 2.
# create a tuple
my_tuple = (1, 2, 3, 4, 5)
# Multiply all elements by 2 using a list comprehension and convert to a tuple
doubled_tuple = tuple(x * 2 for x in my_tuple)
# Print the doubled tuple
print("Doubled tuple:", doubled_tuple)

Doubled tuple: (2, 4, 6, 8, 10)

In [17]:
# 37.Create a tuple of random numbers.
import random
# Create a tuple of random numbers using a list comprehension
random_numbers = tuple(random.randint(1, 100) for x in range(10))
# Print the tuple of random numbers
print(random_numbers)

(96, 67, 75, 62, 84, 56, 19, 20, 3, 61)

In [3]:
# 38.Check if a tuple is sorted.
# create a tuple
my_tuple = (1,2,3,4,5)
# check if the tuples are sorted
is_sorted = my_tuple == tuple(sorted(my_tuple))
print(is_sorted)

True

In [7]:
# 39.Rotate a tuple to the left by `n` positions.
def rotate_left(tup, n):
    n = n % len(tup)
    # Ensure n is within the range of tuple length
    rotated_tuple = tup[n:] + tup[:n]
    # Rotate the tuple
    return rotated_tuple
my_tuple = (1, 2, 3, 4, 5)
n_positions = 2
result = rotate_left(my_tuple, n_positions)
print(result)

(3, 4, 5, 1, 2)

In [2]:
# 40.Rotate a tuple to the right by `n` positions.
def rotate_right(tup, n):
    n = n % len(tup)
    # Ensure n is within the range of tuple length
    rotated_tuple = tup[-n:] + tup[:-n]
    # Rotate the tuple
    return rotated_tuple
my_tuple = (1, 2, 3, 4, 5)
n_positions = 2
result = rotate_right(my_tuple, n_positions)
print(result)

(4, 5, 1, 2, 3)

In [2]:
# 41.Create a tuple of the first 5 Fibonacci numbers.
# Define a function to generate the first n Fibonacci numbers
def generate_fibonacci(n):
    result = [0]
    a,b = [0, 1]
    for i in range(n-1):
        # Continue generating Fibonacci numbers until the list has n elements
        a, b = b, a+b
        # Calculate the next Fibonacci number
        result.append(b)
        # Add the next Fibonacci number to the list
    return tuple(result)
print(generate_fibonacci(5))

(0, 1, 2, 3, 5)

In [5]:
# 42.Create a tuple from user input.
# Taking user input for creating a tuple
user_input = input("Enter elements separated by commas:")
# Splitting the input string into a list of strings
input_tuple = tuple(user_input.split(','))
print(input_tuple)

Enter elements separated by commas: a,b,c,d,e,f,g,h

('a', 'b', 'c', 'd', 'e', 'f', 'g', 'h')

In [17]:
# 43.Swap two elements in a tuple.
# Create a tuple
my_tuple = (1, 2, 3, 4)
# convert the tuple to a list
tuple_list = list(my_tuple)
# swap elements at positions 1 and 2
tuple_list[1], tuple_list[2] = tuple_list[2], tuple_list[1]
# convert the list back to a tuple
my_tuple = tuple(tuple_list)
# result after swapping
print(my_tuple)

(1, 3, 2, 4)

In [19]:
# 44.Reverse the elements of a tuple.
# create a tuple
my_tuple = (1, 2, 3, 4, 5, 6)
# Reverse the elements using slicing
reversed_tuple = my_tuple[::-1]
# result after reversing
print(reversed_tuple)

(6, 5, 4, 3, 2, 1)

In [21]:
# 45.Create a tuple of the first `n` powers of 2.
# define the value of the n
n = 5
# Create a tuple of the first n powers of 2 using a list comprehension
power_of_2_tuple = tuple(2 ** i for i in range(n))
# print the tuple of power of 2
print(power_of_2_tuple)

(1, 2, 4, 8, 16)

In [2]:
# 46.Find the longest string in a tuple of strings.
# Create a tuple of strings
str_tuple = ('apple', 'banana', 'kiwi', 'strawberry')
# Find the longest string in the tuple
longest_str = max(str_tuple, key=len)
# print the longest string
print(longest_str)

strawberry

In [3]:
# 47.Find the shortest string in a tuple of strings.
# create a tuple of strings
str_tuple = ('apple', 'banana', 'kiwi', 'strawberry')
# find the shortest string in the tuple
shortest_str = min(str_tuple, key=len)
#print the shortest string
print(shortest_str)

kiwi

In [7]:
# 48.Create a tuple of the first `n` triangular numbers.
n = 5
# Create a tuple of the first n triangular numbers using a list comprehension
triangular_numbers = tuple((i * (i + 1)) // 2 for i in range(1, n + 1))
# Print the tuple of triangular numbers
print(triangular_numbers)

(1, 3, 6, 10, 15)

In [17]:
# 49.Check if a tuple contains another tuple as a subsequence.
# define the main tuple
tuple1 = (1, 2, 3, 4, 5)
# define the tuple to check as a subsequence
tuple2 = (2, 3)
# printing original tuples
print("The original tuple 1 : " + str(tuple1))
print("The original tuple 2 : " + str(tuple2))
# Check if one tuple is subset of other
# using issubset()
res = set(tuple2).issubset(tuple1)
# printing result
print("Is 2nd tuple subset of 1st ? : " + str(res))

The original tuple 1 : (1, 2, 3, 4, 5)
The original tuple 2 : (2, 3)
Is 2nd tuple subset of 1st ? : True

In [1]:
# 50.Create a tuple of alternating 1s and 0s of length `n`.
# Define the value of n
n = 5
# Create a tuple of alternating 1s and 0s using a list comprehension
alternating_tuple = tuple(i % 2 for i in range(n))
print(alternating_tuple)

(0, 1, 0, 1, 0)

In [2]:
# 1.Create a set with integers from 1 to 5
# Create an empty set
my_set = set()
# Add integers from 1 to 5 to the set
my_set.add(1)
my_set.add(2)
my_set.add(3)
my_set.add(4)
my_set.add(5)
print(my_set)

{1, 2, 3, 4, 5}

In [6]:
# 2.Add an element to a set
# Create a set
my_set = {1, 2, 3, 4, 5}
# Display the original set
print("Original set:", my_set)
# Add an element to the set
element_to_add = 6
my_set.add(element_to_add)
# Print the modified set 
print("After adding element:", my_set)

Original set: {1, 2, 3, 4, 5}
After adding element: {1, 2, 3, 4, 5, 6}

In [7]:
# 3.Remove an element from a set.
# create a set
my_set = {1, 2, 3, 4, 5}
# Print the original set
print("Original Set:", my_set)
# Choose an element to remove
element_to_remove = 2
# Use the remove() method to remove the chosen element
my_set.remove(element_to_remove)
# Print the modified set after removal
print("After adding element:", my_set)

Original Set: {1, 2, 3, 4, 5}
After adding element: {1, 3, 4, 5}

In [9]:
# 4.Check if an element exists in a set.
#  Create a set 
my_set = {1, 2, 3, 4, 5}
# Ask the user for the element they want to check
element_to_check = int(input("Enter the element to check: "))
# Use the "in" keyword to check if the element exists in the set
if element_to_check in my_set:
# If the element exists in the set, print a message
     print(f"{element_to_check} exists in the set.")
else:
    print(f"{element_to_check} does not exist in the set.")

Enter the element to check:  6

6 does not exist in the set.

In [12]:
# 5.Find the length of a set without using the `len()` function
# Create a set 
my_set = {1, 2, 3, 4, 5, 6}
# Initialize a variable to count the elements in the set
count = 0
# Iterate through each element in the set
for i in my_set:
    # Increase the count by 1 for each element
    count += 1
print("Length of a set:", count)

Length of a set: 6

In [13]:
# 6.Clear all elements from a set.
# create a set
my_set = {1, 2, 3, 4, 5}
# Display the original set
print("Original set:", my_set)
# Clear all elements from the set using the clear() method
my_set.clear()
# Display the result
print("After clearing:", my_set)

Original set: {1, 2, 3, 4, 5}
After clearing: set()

In [15]:
# 7.Create a set of even numbers from 1 to 10
# Initialize an empty set
even_numbers_set = set()
# Iterate through numbers from 1 to 10
for num in range(1, 11):
    # Check if the number is even
    if num % 2 == 0:
        # Add the even number to the set
        even_numbers_set.add(num)
# Print the set of even numbers
print(even_numbers_set)

{2, 4, 6, 8, 10}

In [17]:
# 8. Create a set of odd numbers from 1 to 10
# Initialize an empty set
odd_numbers_set = set()
# Iterate through numbers from 1 to 10
for num in range(1, 11):
    # Check if the number is odd
    if num % 2 != 0:
        # Add the odd number to the set
        odd_numbers_set.add(num)
# Print the set of odd numbers
print(odd_numbers_set)

{1, 3, 5, 7, 9}

In [18]:
# 9.Find the union of two sets
# Define two sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
# Find the union of the two sets using the `union()` method
union_result = set1.union(set2)
# Print the original sets and their union
print("Set 1:", set1)
print("Set 2:", set2)
print("Union of Set 1 and Set 2:", union_result)

Set 1: {1, 2, 3, 4, 5}
Set 2: {4, 5, 6, 7, 8}
Union of Set 1 and Set 2: {1, 2, 3, 4, 5, 6, 7, 8}

In [6]:
# 10.Find the intersection of two sets
# Define two sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
# Find the intersection using the intersection() method
result = set1.intersection(set2)
# Print the original sets and the intersection
print("Intersection:", result)

Intersection: {4, 5}

In [3]:
# 11.Find the difference between two sets.
# Define two sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 8, 9, 10}
# Find the difference between the sets using the difference() method
difference_set = set1.difference(set2)
# print the original sets
print("Difference:", difference_set)

Difference: {1, 2, 3}

In [7]:
# 12.Check if a set is a subset of another set.
# Define two sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 1, 2, 3}
# Use the "issubset()" method to check if set1 is a subset of set2
is_subset = set1.issubset(set2)
# Print the result
print(is_subset)

True

In [8]:
# 13.Check if a set is a superset of another set.
# Define two sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 1, 2, 3}
# Use the "issuperset()" method to check if set1 is a subset of set2
is_superset = set1.issuperset(set2)
# Print the result
print(is_superset)

True

In [10]:
# 14.Create a set from a list.
# Create a list of elements
my_list = [2, 4, 1, 4, 3, 2, 5]
# Use the set() constructor to convert the list into a set
my_set = set(my_list)
# print the result
print("Set from List:", my_set)

Set from List: {1, 2, 3, 4, 5}

In [11]:
# 15.Convert a set to a list.
# create a set
my_set = {3, 1, 4, 1, 5, 9, 2, 6, 5}
# Convert the set to a list using the list() function
my_list = list(my_set)
# print the result
print(my_list)

[1, 2, 3, 4, 5, 6, 9]

In [5]:
# 16.Remove a random element from a set.
# Import the random module
import random
# create a set
my_set = {1, 2, 3, 4, 5}
# Display the original set
print("original set:", my_set)
# Choose a random element from the set using the random.choice() function
random_element = random.choice(list(my_set))
# Remove the chosen random element from the set using the remove() function
my_set.remove(random_element)
# Display the updated set after removing the random element
print("Updated set :",my_set)

original set: {1, 2, 3, 4, 5}
Updated set : {1, 2, 3, 5}

In [7]:
# 17.Pop an element from a set.
# create a set
my_set = {1, 2, 3, 4, 5}
# Display the original set
print("original set:", my_set)
# Pop an element from the set using the pop() method
popped_element = my_set.pop()
# print the updated set
print("Popped element:", popped_element)
print("Set after popping:", my_set)

original set: {1, 2, 3, 4, 5}
Popped element: 1
Set after popping: {2, 3, 4, 5}

In [2]:
# 18.Check if two sets have no elements in common.
# Define two sets
set1 = {1, 2, 3, 4, 5}
set2 = {5, 6, 7, 8, 1}
# The intersection is the set of elements that are common to both sets
common_elements = set1.intersection(set2)
if not common_elements:
    print("The two sets have no elements in common.")
else:
    print("The two sets have common elements:", common_elements)

The two sets have common elements: {1, 5}

In [4]:
# 19.Find the symmetric difference between two sets.
# Define two sets
set1 = {1, 2, 3, 4, 5}
set2 = {5, 6, 7, 8, 3}
# Calculate the symmetric difference using the ^ operator
symmetric_difference = set1 ^ set2
print("Symmetric Difference:", symmetric_difference)

Symmetric Difference: {1, 2, 4, 6, 7, 8}

In [1]:
# 20.Update a set with elements from another set.
# Define two sets
set1 = {1, 2, 3, 4}
set2 = {5, 6, 7, 8}
print("set1:", set1)
print("set2:", set2)
# Update set1 with elements from set2
set1.update(set2)
print("Updated Set 1:", set1)

set1: {1, 2, 3, 4}
set2: {8, 5, 6, 7}
Updated Set 1: {1, 2, 3, 4, 5, 6, 7, 8}

In [3]:
# 21.Create a set of the first 5 prime numbers.
# Function to check if a number is prime
def is_prime(num):
    if num < 2:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True
prime_numbers = set()
count = 0
num = 2
# Loop until we have found the first 5 prime numbers
while count < 5:
    # Check if the current number is prime using the is_prime function
    if is_prime(num):
        # If the number is prime, add it to the prime_set
        prime_numbers.add(num)
        # Move on to the next number for the next iteration
        count += 1
    num += 1
print(prime_numbers)

{2, 3, 5, 7, 11}

In [6]:
# 22.Check if two sets are identical.
# Define two sets
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 1, 5, 2}
# The `==` operator compares the content of the sets.
if set1 == set2:
    print("The sets are identical.")
else:
    print("The sets are not identical.")

The sets are identical.

In [7]:
# 23.Create a frozen set
#Define a list of elements that you want to include in the frozen set
elements = [1, 2, 3, 4, 5]
# Create a frozen set using the 'frozenset' constructor and passing the list of elements
my_frozen_set = frozenset(elements)
# Print the frozen set
print("Frozen Set:", my_frozen_set)

Frozen Set: frozenset({1, 2, 3, 4, 5})

In [10]:
# 24. Check if a set is disjoint with another set.
# Define two sets
set1 = {1, 2, 3, 4, 5}
set2 = {6, 7, 8, 9}
# Use the `isdisjoint()` method to check if the sets are disjoint
disjoint_status = set1.isdisjoint(set2)
# print the result
print("Are the sets disjoint?", disjoint_status)

Are the sets disjoint? True

In [11]:
# 25.Create a set of squares of numbers from 1 to 5.
# Create an empty set to store the squares of numbers
squares_set = set()
# Use a loop to iterate through numbers from 1 to 5
for num in range(1, 6):
    # Calculate the square of the current number
    square = num ** 2
    # Add the square to the set
    squares_set.add(square)
# Print the set of squares
print(squares_set)

{1, 4, 9, 16, 25}

In [4]:
# 26.Filter out all even numbers from a set.
# create a set
my_set = {1, 2, 3, 4, 5}
# Initialize an empty set to store the filtered even numbers
even_numbers_set = set()
# Iterate through each element in the original set
for num in my_set:
# Check if the current number is even (divisible by 2)
  if num % 2 == 0:
   # If even, add it to the even_numbers_set
    even_numbers_set.add(num)
print("Original Set:", my_set)
print("Even Numbers Set:", even_numbers_set)

Original Set: {1, 2, 3, 4, 5}
Even Numbers Set: {2, 4}

In [8]:
# 27.Multiply all elements in a set by 2.
# create a set
my_set = {1, 2, 3, 4, 5}
# Initialize an empty set to store the multiplied elements
multiplied_set = set()
for num in my_set:
    # Multiply the current element by 2
    multiplied_num = num * 2
    # Add the multiplied element to the multiplied_set
    multiplied_set.add(multiplied_num)
print("Original Set:", my_set)
print("Multiplied Set:", multiplied_set)

Original Set: {1, 2, 3, 4, 5}
Multiplied Set: {2, 4, 6, 8, 10}

In [11]:
# 28.Create a set of random numbers.
import random
# Define the number of random numbers you want in the set
num_random_numbers = 5
# Initialize an empty set to store the random numbers
random_number_set = set()
# Use a loop to generate random numbers and add them to the set
for _ in range(num_random_numbers):
    random_num = random.randint(1, 50)
    # Add the random number to the set
    random_number_set.add(random_num)
print("Generated set of random numbers:", random_number_set)

Generated set of random numbers: {2, 41, 19, 26, 30}

In [18]:
# 29.Check if a set is empty.
# create a set
my_set = set()
# Check if the set is empty using the 'if' statement
if not my_set:
    print("The set is empty.")
else:
    print("The set is not empty.")

The set is empty.

In [2]:
# 30.Create a nested set 
# Define two sets
set1 = {1, 2, 3, 4, 5}
set2 = {6, 7, 8, 9, 10}
# Create frozensets from the inner sets
frozen_set1 = frozenset(set1)
frozen_set2 = frozenset(set2)
# Create the nested set using the frozensets
nested_set = {frozen_set1, frozen_set2}
print("Nested Set:", nested_set)

Nested Set: {frozenset({1, 2, 3, 4, 5}), frozenset({6, 7, 8, 9, 10})}

In [6]:
# 31.Remove an element from a set using the discard method.
# create a set
my_set = {1, 2, 3, 4, 5}
# Display the initial set
print("Initial set:", my_set)
# Define the element to be removed
element_to_remove = 2
# Use the discard() method to remove the element from the set
my_set.discard(element_to_remove)
print("Set after removing", element_to_remove, my_set)

Initial set: {1, 2, 3, 4, 5}
Set after removing 2 {1, 3, 4, 5}

In [11]:
# 32.Compare two sets.
# Define two sets
set1 = {1, 2, 3, 4, 5}
set2 = {3, 7, 1, 6, 5}
# Check if set1 is a subset of set2
is_subset = set1.issubset(set2)
# print the result
print("Is set1 a subset of set2?", is_subset)

Is set1 a subset of set2? False

In [12]:
# 33.Create a set from a string.
# Define the input string
my_str = input("Enter a string:")
# Use the set() constructor to create a set from the characters in the string
char_set = set(my_str)
# Print the result
print(char_set)

Enter a string: Hello

{'o', 'e', 'l', 'H'}

In [15]:
# 34.Convert a set of strings to a set of integers.
# create a set of integers
string_set = {"12", "46", "89"}
# Initialize an empty set to store integers
integer_set = set()
# Iterate through each string in the string set
for string in string_set:
    # Convert the string to an integer using the int() function
    integer_value = int(string)
    # Add the integer to the integer set
    integer_set.add(integer_value)
print("Original String Set:", string_set)
print("Converted Integer Set:", integer_set)

Original String Set: {'12', '46', '89'}
Converted Integer Set: {89, 12, 46}

In [1]:
# 35.Convert a set of integers to a set of strings.
# Create a set of integers
integers_set = {1, 2, 3, 4, 5}
# Initialize an empty set to store the strings
strings_set = set()
# Iterate through each integer in the integers_set
for num in integers_set:
    #  Convert the integer to a string using the str() function
    num_str = str(num)
    # Add the string representation to the strings_set
    strings_set.add(num_str)
print("Original integers_set:", integers_set)
print("Converted strings_set:", strings_set)

Original integers_set: {1, 2, 3, 4, 5}
Converted strings_set: {'3', '2', '5', '1', '4'}

In [2]:
# 36.Create a set from a tuple.
my_set = (1, 2, 3, 2, 4, 5, 1)
# Convert the tuple to a set
output_set = set(my_set)
# print the result
print(output_set)

{1, 2, 3, 4, 5}

In [4]:
# 37.Convert a set to a tuple.
my_set = {1, 2, 3, 4, 5}
# Convert the set to a tuple
output_tuple = tuple(my_set)
# print the result
print(output_tuple)

(1, 2, 3, 4, 5)

In [5]:
# 38.Find the maximum value in a set.
# create a set
my_set = {15, 7, 22, 13, 8}
# Initialize a variable to store the maximum value
max_value = None
# Iterate through each element in the set
for num in my_set:
    if max_value is None or num > max_value:
        max_value = num
# print the result
print("Maximum value:", max_value)

Maximum value: 22

In [1]:
# 39.Find the minimum value in a set.
my_set = {15, 12, 9, 4, 23, 2}
# Initialize a variable to store the minimum value
min_value = None
# Iterate through each element in the set
for num in my_set:
    if min_value is None or num < min_value:
        min_value = num
# print the result
print("Minimum value:", min_value)

Minimum value: 2

In [5]:
# 40.Create a set from user input.
# Initialize an empty set
user_set = set()
print("Enter elements for the set (type 'done' to finish):")
while True:
    # Get input from the user
    user_input = input(" > ")
    if user_input.lower() == 'done':
        break
    # Add the user input to the set
    user_set.add(user_input)
# Display the final result
print("Final set:", user_set)

Enter elements for the set (type 'done' to finish):

 >  ineuron
 >  pw
 >  skill
 >  done

Final set: {'skill', 'pw', 'ineuron'}

In [8]:
# 41.Check if the intersection of two sets is empty.
# Define two sets
set1 = {1, 2, 3, 4, 5}
set2 = {6, 7, 8, 9, 10}
# using the `intersection()` method
intersection_result = set1.intersection(set2)
if not intersection_result:
        print("The intersection of the two sets is empty.")
else:
        print("The intersection of the two sets is not empty.")

The intersection of the two sets is empty.

In [1]:
# 42.Create a set of the first 5 Fibonacci numbers.
# Create a set to store the first 5 Fibonacci numbers
fibonacci_set = set()
# Initialize the first two Fibonacci numbers
a, b = 0, 1
# Loop to generate the first 5 Fibonacci numbers
for _ in range(6):
    # Add the current Fibonacci number to the set
    fibonacci_set.add(a)
    # Calculate the next Fibonacci number
    a, b = b, a + b
# Print the set of Fibonacci numbers
print("Set of the first 5 Fibonacci numbers:", fibonacci_set)

Set of the first 5 Fibonacci numbers: {0, 1, 2, 3, 5}

In [2]:
# 43.Remove duplicates from a list using sets.
# Define a list
my_list = [4, 1, 2, 3, 4, 5, 2, 7, 6, 5, 1]
# Convert the list to a set
unique_set = set(my_list)
#  Convert the set back to a list
unique_list = list(unique_set)
# Print the original list and the list with duplicates removed
print("Original List:", my_list)
print("List with Duplicates Removed:", unique_list)

Original List: [4, 1, 2, 3, 4, 5, 2, 7, 6, 5, 1]
List with Duplicates Removed: [1, 2, 3, 4, 5, 6, 7]

In [10]:
# 44.Check if two sets have the same elements, regardless of their count.
def have_same_elements(set1, set2):
# Convert the sets to lists and sort them   
    sorted_list1 = sorted(list(set1))
    sorted_list2 = sorted(list(set2))
# Compare the sorted lists to check if they are equal
    return sorted_list1 == sorted_list2
# define sets
set1 = {1, 2, 3, 3, 4, 5}
set2 = {5, 4, 3, 2, 1}
# Check if the sets have the same elements
result = have_same_elements(set1, set2)
if result:
    print("The sets have the same elements.")
else:
     print("The sets do not have the same elements.")

The sets have the same elements.

In [8]:
# 45.Create a set of the first `n` powers of 2
def powers_of_2(n):
    # Calculate the current power of 2 using the exponentiation operator **
    return {2 ** x for x in range (n)}
# Define the value of n
n = 5
result = powers_of_2(n)
# Print the resulting set
print(result)

{1, 2, 4, 8, 16}

In [9]:
# 46. Find the common elements between a set and a list.
# Define a set and list
my_set = {1, 2, 3, 4}
my_list = [4, 5, 6, 7]
# Convert the list to a set for efficient comparison
list_to_set = set(my_list)
# Initialize an empty list to store common elements
common_elements = []
# Iterate through the elements in the set
for element in my_set:
    if element in list_to_set:
        common_elements.append(element)
# Print the common elements
print("Common Elements:", common_elements)

Common Elements: [4]

In [3]:
# 47.Create a set of the first `n` triangular numbers.
def triangular_numbers(n):
    triangular_nums = set()
    # Create an empty set to store the triangular numbers
    for i in range(1, n + 1):
        triangular_num = i * (i + 1) // 2
        # Calculate the ith triangular number using the formula
        triangular_nums.add(triangular_num)
        # Add the calculated triangular number to the set
    return triangular_nums
# Define the value of 'n'
n = 10
# Display the set of triangular numbers
print(triangular_numbers(n))

{1, 3, 36, 6, 10, 45, 15, 21, 55, 28}

In [4]:
# 48. Check if a set contains another set as a subset.
# Define two sets
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4}
# Check if set2 is a subset of set1
is_subset = set2.issubset(set1)
# Print the result
if is_subset:
    print("set2 is a subset of set1")
else:
    print("set2 is not a subset of set1")

set2 is a subset of set1

In [6]:
# 49. Create a set of alternating 1s and 0s of length `n`.
def create_alternating_set(n):
    # Initialize an empty set to store the alternating sequence.
    alternating_set = set()
    # Loop to generate alternating 1s and 0s
    for i in range(n):
        # Alternate between adding 1 and 0 to the set based on whether i is even or odd.
        if i % 2 == 0:
            alternating_set.add(1)
            # Add 1 if i is even.
        else:
            alternating_set.add(0)
            # Add 0 if i is odd.
    return alternating_set
# Define the desired length of the alternating set.
length_n = 10
# Call the function to create the alternating set of length 'length_n'
result = create_alternating_set(length_n)
# Print the resulting set.
print(result)

{0, 1}

In [50]:
# 50.Merge multiple sets into one.
# Create multiple sets
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {5, 6, 7}
# Use the union() method to merge sets
merged_set = set1.union(set2, set3)
# merged_set = set1 | set2 | set3
# Print the merged set
print("Merged Set:", merged_set)

Merged Set: {1, 2, 3, 4, 5, 6, 7}